@model FrontOffice.Models.QuotesViewModel

@{
    ViewBag.Title = "Криптовалюта";
}

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">@Html.DisplayNameFor(modelItem => modelItem.InfoCryptoModels[0].Name) криптовалюты: </label>
        <input name="searchString" class="form-control" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(modelItem => modelItem.InfoCryptoModels[0].Name),
                    $"Quotes",
                    new { sortOrder = ViewBag.name })
            </th>
            <th>

                @Html.ActionLink(@Html.DisplayNameFor(model => model.InfoCryptoModels[0].Symbol),
                    $"Quotes",
                    new { sortOrder = ViewBag.Symbol })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoCryptoModels[0].Logo))
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.InfoCryptoModels[0].CurrentPriceUsd),
                    $"Quotes",
                    new { sortOrder = ViewBag.Price })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.InfoCryptoModels[0].PercentChangePerHour),
                    $"Quotes",
                    new { sortOrder = ViewBag.PercentChangePerHour })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.InfoCryptoModels[0].PercentChangePerDay),
                    $"Quotes",
                    new { sortOrder = ViewBag.PercentChangePerDay })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.InfoCryptoModels[0].CapitalizationMarketCap),
                    $"Quotes",
                    new { sortOrder = ViewBag.CapitalizationMarketCap })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.InfoCryptoModels[0].UpdateTime),
                    $"Quotes",
                    new { sortOrder = ViewBag.UpdateTime })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InfoCryptoModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    <img src="@item.Logo" width="100" height="100">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPriceUsd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentChangePerHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentChangePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapitalizationMarketCap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateTime)
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.HasPreviousPage)
{
    <a asp-action="Quotes"
       asp-route-page="@(Model.GetPageNumber() - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.HasNextPage)
{
    <a asp-action="Quotes"
       asp-route-page="@(Model.GetPageNumber() + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}